node_modules
.env
.env.local

# hardhat
artifacts
cache
typechain-types
coverage
coverage.json
gas-report.txt

# frontend / vite
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
frontend/.vite

# misc
*.log
.DS_Store
.vscode
.idea
